
.button {
    border-radius: 1.2px solid black;
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
}

.b1 {
    background-color: #0e6cff;
    
}
.b2 {
    background-color: #ff8700;
}
.b3 {
    background-color: #4caf50;
}