:root {
    font-family: 'Open Sans', sans-serif;
}

strong {
    font-weight: bolder;
}
h2 {
    font-size: 2.35rem;
    line-height: 1.2;
    font-weight: 600;
}
h3 {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 600;
}
p{
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 400;
}
label {
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 400;
}
input {
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 400;
}
li.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 400px;
}

.card-body {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnRemove {
    margin-top: 15px;
    align-self: center; 
}

.product-image {
    width: 280px;
    height: 180px;
    
  }
  .addPannel{

    width: 80%;
    width: 800px;
    margin: 0 auto;
  }

  .btnAdd {
    border-radius: 20px 20px 20px 20px;
}
.btnRemove {
    border-radius: 20px 20px 20px 20px;
    padding: 5px 10px;    
  }

  .specialBorder {
    border-bottom: 2px solid #000;
    margin-bottom: 15px;
    
  }