:root {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
body {
    background-image: url(../images/background-beer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
strong {
    font-weight: bolder;
}
h2 {
    font-size: 2.35rem;
    line-height: 1.2;
    font-weight: 600;
}
h3 {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 600;
}
p{
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 400;
}
label {
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 400;
}
input {
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 400;
}
li.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 400px;
}
.whiteFont{
    color: white;
}
/* CREA PRODOTTI */
.hero{
    background-image: url(../images/festivalBeer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
    height: 100%;
    
}
.card{
    max-width: 320px;
}
.card-body {    
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-image {
    max-width: 100%;
    height: 135px;
}
.product-image-home {
    width: 250px;
    height: 180px;
}
.addPannel{

    width: 80%;
    width: 800px;
    margin: 0 auto;
}

  .btnAdd {
    border-radius: 20px 20px 20px 20px;
}
.btnRemove {
    border-radius: 20px 20px 20px 20px;
    padding: 5px 5px; 
    align-self: center;   
    margin-left: 5px; 
  }
  .btnEdit {
    border-radius: 20px 20px 20px 20px;
    padding: 5px 20px;    
  }

  .specialBorder {
    border-bottom: 3px solid white;
    margin-bottom: 15px;
    
  }
  .card-body {
    padding-top: 5px;
  }

  /* HOME PAGE */

  header {
    height: 120px;
    background-color: black;
    
  }
  .menuHeader{
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
  }
  .menu {
    margin-right: 25px;
  }

  .logo{
    margin-left: 35px;
    max-height: 170px;
  }

  footer{
   
    margin-top: 30px;
    background-color: black;
    color: white;
  }

  .modifyProduct {
    height: 100vh;
    background-image: url(../images/Monkey_Island_background-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: bottom;
    opacity: 0.9;
  }
  .backgroundModifica {
      background-image: url(../images/Monkey_Island_background.jpg);
      width: 75%;
      border: 5px solid black;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.9;
  }

  .card-footer{
    background-color: white;
  }