p{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
}

input{
text-align: center;
  width: 300px;
  height: 30px;
}

button{
  width: 36px;
  height: 36px;
  color: white;
  background-color: rgb(59, 11, 11);

}

.flexBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

svg{
  padding-left: 5px;
  fill: red;

}
