:root{
    --colorPYellow: #fafbc9;
    --colorPGreen: #c6f4c6;
    --colorPViolet: #c5c5f0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h3 {
    font-size: 2.5rem;
    font-weight: bolder;
}

p {
    font-size: 1.3rem;
}

#bacheca {
    padding: 20px;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    justify-content: space-around;
    
}

.gPostit {
    margin:15px;
    width: 280px;
    height: 220px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-it1, .post-it5, .post-it7 {
    background-color: var(--colorPYellow);
    transform: rotate(-5deg);
    box-shadow: 5px 5px 5px  rgb(83, 80, 80) , inset 0 -20px 20px rgba(83, 80, 80, 0.352);
    transition: 1s;
}
.post-it2, .post-it4, .post-it8 {
    background-color: var(--colorPGreen);    
    transform: rotate(5deg);
    box-shadow: 5px 5px 5px  rgb(83, 80, 80) , inset 0 -20px 20px rgba(83, 80, 80, 0.352);
    transition: 1s;
}
.post-it4{
    transform: rotate(10deg);
}
.post-it3, .post-it6{
    background-color: var(--colorPViolet);
    transform: rotate(-10deg);
    box-shadow: 5px 5px 5px rgb(83, 80, 80), inset 0 -20px 20px rgba(83, 80, 80, 0.352);
    transition: 1s;
}

.gPostit:hover{
    transform: scale(1.3);
}