:root {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  --colorBG: #ffc017;
}

ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
body{
  width: 100%;
}
/********** Header section **********/
header {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgb(36, 36, 36);
  height: 75px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--colorBG);
  transition: background-color 0.5s;
}
.links-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-link {
  padding-left: 15px;
}
.get-started {
  margin-left: 20px;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border-color: rgb(25, 25, 25);
  background: rgb(25, 25, 25);
  fill: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 99em;
  border-width: 1px;
  border-style: solid;
}

/********** Hero section **********/
.hero {
  width: 100%;
  padding: 0px 10px;
  background-color: #ffc017;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  border-bottom: 1px solid black;
}
.yellow-main {
  width: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-top: 93px;
  padding-bottom: 92px;
  
}
.stayC {
  margin-bottom: 35px;
  font-size: 106px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  letter-spacing: -0.05em;
  line-height: 95px;
}
.text-stayC {
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 24px;

}
.start-reading {
  font-size: 20px;
  width: 213px;
  padding: 8px 20px;
  line-height: 24px;
  text-align: center;
  border-radius: 99em;
  border-color: rgb(25, 25, 25);
  background: rgb(25, 25, 25);
  fill: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  
}
.mainContainer {
  width: 100%;
  margin-top: 40px;
}
.articleContainer {
  width: 60%;
  margin: 0 auto;
}
.article {
  /* width: 50%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
}
.link-article {
  height: 76.5px;
  width: 396px;
  margin-bottom: 24px;
  margin-right: 25px;
  display: flex;
  align-items: flex-start;
}
.number-article {
  margin-right: 16px;
  width: 40px;
  position: relative;
  flex: 0 0 auto;
}
.numerN{
  color: #f2f2f2;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
}
.names{
  font-size: 13px;
  line-height: 16px;
  color: #242424;
  
}
.flex1{
  display: flex;
  flex-direction: column;
}
.flex2{
  display: flex;
}
.border{
  border-bottom: 1px solid rgb(240, 238, 238);
}
/********** Main section **********/

.articoloNuovo {
  display: flex;
  gap: 50px;
}
.col-1 {
  flex-direction: column;
  align-self: center;
}
.numSpan {
  width: 40px;
  margin-right: 16px;
  color: rgb(242, 242, 242);
  
}

.thumbImage {
  width: 20px;
}

.articleImage {
  width: 200px;
  height: 200px;
}

/********** Links Aside section **********/
aside {
  margin-bottom: 35px;
}

.discover {
  font-weight: bold;
  position: relative;
}

aside > a {
  color: rgb(13, 122, 13);
}
aside {
  position: sticky;
}
.newArticles {
  display: flex;
  width: 80%;
  padding-top: 56px;
  margin: 0 auto;
}

.articleScroll .articoloImmagine {
  display: flex;
}
.articoloImmagine > div > img {
  margin-left: 40px;
}
.lateralBar {
  padding-left: 100px;
}
.sticky {
  position: sticky;
  top: 100px;
}

.all-aside {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.button-aside {
  margin: 10px;
}
.button-aside > a {
  background-color: rgb(242, 242, 242);
  border-radius: 100px;
  padding: 8px 16px;
  color: rgb(36, 36, 36);
  font-size: 14px;
  line-height: 20px;
}

footer {
  width: 500px;
  border-top: 1px solid rgb(218, 218, 218);
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
footer > div {
  padding: 15px;
}
