:root{
    font-weight: 400;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgba(0,0,0,0.8);
    --colorBG: #ffc017;
    
    
}

ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

#container {
    max-width:90% 
    margin 0 auto;
    display: flex;
    flex-direction: column;
    

}
/********** Header section **********/
header{
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgb(36, 36, 36);
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--colorBG);
    transition: background-color 0.5s;
}
.links-page {
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-link {
    
    padding-left: 15px;
}
.get-started{
    margin-left: 20px;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    border-color: rgb(25, 25, 25);
    background: rgb(25, 25, 25);
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 99em;
    border-width: 1px;
    border-style: solid;
}

/********** Hero section **********/
.hero{
    background-color: #ffc017;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.yellow-main {
    z-index: 2;
    display: flex;
    flex-direction: column;
    
    
    padding-top: 93px;
    padding-bottom: 92px;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}
.stayC{
    margin-bottom: 35px;
    font-size: 106px;
    font-feature-settings: "pnum", "lnum";
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: -0.05em;
    line-height: 95px;
}
.text-stayC{
    margin-bottom: 50px;
    
    font-size: 24px;
    line-height: 24px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.start-reading {
    font-size: 20px;
    width: 213px;
    padding: 8px 20px;
    line-height: 24px;
    text-align: center;
    border-radius: 99em;
    border-color: rgb(25, 25, 25);
    background: rgb(25, 25, 25);
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
.article {
    max-width: 1000px; /*prova mia*/
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid rgb(224, 220, 220);
}
.link-article {
    
    height: 76.5px;
    width: 396px;
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
}
.number-article{
    margin-right: 16px;
    width: 40px;
    position: relative;
    flex: 0 0 auto;
    
}


/********** Links Aside section **********/
aside {
    margin-bottom: 35px;
}
.discover{
    font-weight: bold;
}
aside > a {
    color: rgb(13, 122, 13);
}
.newArticles{
    display: flex;
    padding-top: 56px;
}

.articleScroll 
    

.articoloImmagine{
    display: flex;
}
.articoloImmagine > div > img {
    
    margin-left: 40px;
}
.lateralBar {
 padding-left: 100px;
}

.all-aside {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}



.button-aside {
    margin: 10px;
    
}
.button-aside > a {
    background-color: rgb(242, 242, 242);
    border-radius: 100px;
    padding: 8px 16px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    line-height: 20px;
}

footer{
    width: 500px;
    border-top: 1px solid rgb(218, 218, 218);
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
}
footer > div {
    padding: 15px;
}