
/*<!-- HEADER -->*/

/*<!-- MAIN -->*/

/*<!-- ASIDE -->*/

/*<!-- FOOTER -->*/







:root{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    color: black;
    background-image: url(../assets/images/background.jpeg);
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
}
li {
    list-style-type: none; 
    
}

.del {
    text-decoration: line-through;
}

/*<!-- HEADER -->*/

header {
    
    text-align: center;
    width: 900px; 
    margin: 0 auto;
    padding-top: 50px;
}

/*<!-- MAIN -->*/

main {
    background-image: url(../assets/images/pergamena.png);
    text-align: center;
    padding-top: 300px;
    width: 800px; 
    height: 800px;
    margin: 0 auto;
    line-height: 1.5;
}

.help {
    color: white;
}


/*<!-- ASIDE -->*/

aside {
    
    text-align: center;
    width: 900px; 
    margin: 0 auto;
}



/*<!-- FOOTER -->*/
footer {
    color: white;
    font-size: 0.6rem;
    padding: 15px;
    background-color: black;
    line-height: 1.5;
}