:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    --colorTxt: #612406;
    --colorButtonPC: #F3DF85;
    --colorBgPC: #FBF7E3;
    line-height: 11;
    
}
button{
    color: #732104;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #fae094;
    border-style: none;
}
li{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #732104;
}



/***********************
1-Product Card
***********************/
#containerPage {
    padding: 25px;
    
}

#productCard {
    height: 300px;
    max-width: 300px;
    flex-direction: column;
    border-radius: 20% 20% 20% 20%;
    background-color: #fef7e2;
}

#productCard, .textCard {
    display: flex;    
}

.textCard {
    padding: 15px 40px;
    justify-content: space-between;
}

.textInside {
    text-align: center;
    flex-direction: column;
}

.textSottile {
    font-weight: lighter;
    font-size: 0.8rem;
}

.immage > img {
    height: 100%;
    width: 100%;
    border-radius: 20% 20% 0% 0%;
}

.buttonProduct {
    padding: 8px;
    border-radius: 30px;
    width: 55%;
    justify-self: center;
}

/***********************
2-Navigation bar
***********************/
#cotainerLink{
    background-color: #fef7e2;
    height: 10vh;
    
}

#navigationPage{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.imm {
    height: 30px;
    width: 30px;
}

.buttonPage{
    padding-top: 10px;
    border-radius: 30px;
    width: 170px;
    height: 40px;
    background-color: #fae094;
    text-align: center;

    
}

.buttonPageCenter{
    
    text-align: center;
    text-transform: uppercase;
    padding: 25px 10px;

}
/***********************
Final-Page
***********************/

#containerAll {
    padding: 30px;
}

header {
    background-color: var(--colorBgPC);
    padding: 25px;
    border-radius: 80px;
    box-sizing: border-box;
}
#menu {
    display: flex;
    flex-wrap: wrap;
}
#menu .link{
    overflow: hidden;
}
#menu .link1{
    border-radius: 50px;
    flex-basis: 100%;
    font-size:2rem;
}


img {
    max-width: 100%;
}

#menu > li > a{
    background-color: var(--colorButtonPC);
    padding: 10px;
    border-radius: 80px;
}