/* IMPOSTAZIONI GENERALI */


body {
    margin: 15px;
    background-image: url(../img/sfondo.png) ;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    
}

.corsivo {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.1rem
    font-weight: bold;
}

h4 {
    font-size: 0.8rem
    font-weight: bold;
}

/* HEADER */
.header {
    background-color: rgba(3,109,134,1);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    color: white;
    
}

.logo {
    font-size: auto;
    padding: auto;
   
}

/* MAIN */
.pagina {
    background-color: white;
    padding: 35px 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

.ref-articolo {
    color: rgb(172, 170, 170);
}

.testo-viola {
    color: blueviolet;
}

.margin {
    margin: 20px auto;
}

.button-ff {
    background-color: rgb(231, 221, 221);
    border: solid 0.2px rgb(168, 161, 161);
    border-radius: 5px 5px 5px 5px;
}

.testo-centrale {
    text-align: center;
}

/* ELEMENTI NEL MAIN - ARTICLE */
ol {
    counter-reset: item 0;
    list-style: none;
}
ul {
    counter-reset: item "";
}
ul:first-child>li {
    counter-reset: item "";
}
ul>li:before {
    content: " ";
    margin-right: 1em;
    
}
ol ul li:last-child {
    counter-reset: item "";
}
ol>li:before {
    counter-increment: item;
    content: counters(item, ".")".  ";
}

/* TABELLE */
.tabella {
    margin: 20px auto;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */
.video {
    width: auto%;
}

.articolo-finale {
    background-color: rgb(233, 227, 227);
    padding: 25px;
    border: solid 0.5px grey;
    margin-bottom: 15px;
  
}


.data-pub {
    padding: 10px;
    
}

/* FOOTER */
footer {
    background: rgb(53,53,53);
    background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(5,85,103,1) 68%);
    box-shadow: 0 3px 3px #444;
    color: #f0f0f0;
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
}

