/* Your styles here */

a {
    
    color: white;
}

body {
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}

/*SPECIAL DIV */
.page {
    text-align: center;
}

/*HEADER & TOP PAGE*/
header {
    color:  #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: black;
}

header>img {
    width: 150px;
    padding: 30px;
}

nav {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: 150%;
    padding: 70px 50px;
}

nav>p {
    padding: 40px 30px;
}

nav>a {
    padding: 18px 40px;
    border: 10px 10px;
    background-color: #f04c2f; 
    font-family: 'Montserrat', sans-serif , bold;
    border-radius: 5px 5px 5px 5px;
    color: white;
    text-decoration: none;
    font-size: 1rem;

}

/*H's ARMY*/

h1 {
    font-size: 2.8rem;
    font-family: 'Montserrat', sans-serif , bold;
    line-height: 1.1;
}
h2 {
    font-size: 2.2rem;
    padding: 30px;
    color: white;
}
h3 {
    font-size: 1.4rem;
}
h1, h3 {
    color: #25a2c3;
}
h2, h3 {
    
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif , bold;
    
}

/*MAIN*/
main>div>div>p {
    padding-left: 40px;
    padding-right: 40px;
}
main>div>img {
    border-radius: 1000px 1000px 1000px 1000px;
    padding-top: 30px;
    width: 320px;
}

.main-page {
    padding-top: 40px;
    padding-bottom: 70px;
}

/*ARTICLES*/

article {
    
    margin: 35px;
    border: 1px solid #dee1e3;
}

article>h3 {
    padding-top: 10px;
}

article>p {
    padding: 5px 25px 35px 25px;
    
}

article>img {
    width: 100%;
}

/*SECTION*/

section {
    background-color: #e22d0e;
    color: white;
    padding: 40px;
}

section>p {
    font-style: italic;
}



section>div{
    padding-top: 30px;
    font-size: 1.5rem;
}



section p:last-child{
    font-size: 1rem;
}

/*FOOTER*/

footer {
    color: #c8e7f0;
    background-color: #25a2c3;
}


footer>link {
   color: #c8e7f0; 
}

/*footer>heading {
    color: white;
}*/
