.disclaimer{
  font-size: 0.8rem;
  font-weight: bold;
}
.meteoSpace {
  background-color: rgb(240, 199, 144) !important;
  max-width: 450px;
  margin: 10px;
  padding: 5px;
  box-shadow: 5px 10px #59a1db84;
}
img{
 height: 130%;

}
