/* Your styles here */

body {
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}

/*SPECIAL DIV */
.page {
    text-align: center;
}

/*HEADER & TOP PAGE*/
header {
    color:  #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    background-color: black;
}

header>img {
    width: 160px;
    padding: 40px;
}

nav {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: 150%;
    padding: 65px 50px;
}

nav>p {
    font-size: 1.4rem;
    padding-top: 30px;
    padding-bottom: 45px;
}

nav>a {
    padding: 18px 40px;
    background-color: #f04c2f; 
    font-family: 'Montserrat', sans-serif , bold;
    border-radius: 5px 5px 5px 5px;
    color: white;
    text-decoration: none;
    font-size: 1rem;

}

/*H's ARMY*/

h1 {
    font-size: 2.8rem;
    font-family: 'Montserrat', sans-serif , bold;
    line-height: 1;
}
h2 {
    font-size: 2.3rem;
    padding: 25px;
    color: white;
}
h3 {
    font-size: 1.4rem;
    padding-bottom: 10px;
}
h1, h3 {
    color: #25a2c3;
}
h2, h3 {
    
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif , bold;
    
}

/*MAIN*/
main>div>div>p {
    padding-left: 40px;
    padding-right: 40px;
}
main>div>img {
    border-radius: 1000px 1000px 1000px 1000px;
    padding-top: 30px;
    width: 320px;
}

.main-page {
    padding-top: 40px;
    padding-bottom: 70px;
}

/*ARTICLES*/

article {
    
    margin: 35px;
    border: 1px solid #dee1e3;
}

article>h3 {
    padding-top: 10px;
}

article>p {
    padding: 5px 25px 35px 25px;
    
}

article>img {
    width: 100%;
}


/*SECTION*/

section {
    background-color: #e22d0e;
    color: white;
    padding: 45px 40px;
}

section>p {
    font-style: italic;
}


section>div{
    padding-top: 30px;
    font-size: 1.5rem;
}


section p:last-child{
    font-size: 1rem;
}

.article-ep {
    padding-top: 30px;
    padding-bottom: 40px;
}
/*FOOTER*/

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #25a2c3;
}

footer>h2 {
    padding: 15px;
}

footer, footer>div>p>a {
   color: #c8e7f0; 
}

footer>div>p {
    font-size: 1.35rem;
}
.fas {
    color: white;
}
footer>div {
    padding-bottom: 40px;
}


footer>div>span {
    font-size: 1.1rem;
    padding-top: 10px;
    border-top: 1px solid #c8e7f0;
}

footer>div>span>a {
    color: #c8e7f0; 
    padding-top: 40px;
} 

